In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [3]:
df = pd.read_csv("../Resources/cleaned_telecom.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
# Drop the null rows
df = df.dropna()
df.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24,1735,No
1,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88,3973,No
2,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75,2870,Yes
3,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,No,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,56,239,No
4,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,Yes,...,Yes,No,No,No,Month-to-month,No,Electronic check,53,120,No

In [12]:
# dependent and independent values
data = df.drop(['churn','customerid'], axis = 1)
data = pd.get_dummies(data)
target = df['churn']
target_names = ["No", "Yes"]
print(data.shape,target.shape)

(5986, 45) (5986,)

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [7]:
SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

SVC(gamma='auto', kernel='linear')

In [8]:
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.806

In [9]:
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

              precision    recall  f1-score   support

          No       0.83      0.93      0.88      1112
         Yes       0.69      0.44      0.54       385

    accuracy                           0.81      1497
   macro avg       0.76      0.69      0.71      1497
weighted avg       0.79      0.81      0.79      1497

In [13]:
predictions = model.predict(X_test)
predictions_df =pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
predictions_df

     Prediction Actual
0            No    Yes
1            No    Yes
2            No     No
3            No     No
4            No     No
...         ...    ...
1492         No     No
1493         No     No
1494         No     No
1495        Yes    Yes
1496         No    Yes

[1497 rows x 2 columns]

In [17]:
predictions_df.to_csv('predictions_data.csv',index = False, header=True)